.title {
	display: none;
}

.fancy {
	font-family: cursive, serif;
	color: #0000CD;
}

a:link {
	text-decoration: none;
	color: #008B45;
}

a:hover {
	color: #00FF00
}

a:visited {
	color: #EE9A00
}

header {
	font-family: Garamond, serif;
	font-color: #4A4943;
}

h1 {
	font-family: Courier, sans-serif;
	color: color: #576D94;
}
